---
import Docente from './docente.astro';
---

<div class="flex flex-col">
    <div class="text-center mb-12">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Departamento administrativo y jurídico</h2>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:gap-y-16 xl:col-span-2">
        <li class="flex flex-wrap gap-5 justify-center">
            <Docente foto = "/docentes/carlos.webp" nombre = "Carlos Guevara Burgos" cargo = "Enfermero" descripcion = "Especialista en Tecnologías de la Información y las Comunicaciones para la Enseñanza (C) Master Seguridad Clínica del Paciente y Atención con Calidad."/>
            <Docente foto = "/docentes/jessica.webp" nombre = "Jessica Jimenez" cargo = "Enfermera" descripcion = "(C) Especialista en Pedagogía y Educación. Coordinadora de Prácticas clínicas "/>
            <Docente foto = "/docentes/jesus.webp" nombre = "Jesus Morelo" cargo = "Quimico Farmaceutico" descripcion = "(C) Especialista en Pedagogía y Educación. Coordinador de Investigación "/>
            <Docente foto = "/docentes/juana.webp" nombre = "Juana Castro Barrios" cargo = "Enfermera" descripcion = "Especialista en Administración en los Servicios de Salud"/>
            <Docente foto = "/docentes/cenith.webp" nombre = "Cenith Cabarcas" cargo = "Enfermera" descripcion = "Magister en Gerencia de los servicios de salud con Énfasis del cuidado materno Infantil "/>
            <Docente foto = "/docentes/ana.webp" nombre = "Ana Leonidas Coavas" cargo = "Enfermera" descripcion = "(C) Doctora en Educación"/>
            <Docente foto = "/docentes/yeison.webp" nombre = "Yeison Lozano Tejada" cargo = "Enfermera" descripcion = "Especialista en epidemiología (C)  Magister en Salud Pública y Desarrollo Social"/>
            <Docente foto = "/docentes/carlos jimenez.webp" nombre = "Carlos Jimenez Baloco" cargo = "Enfermero" descripcion = "Magister en Enfermería con Énfasis en Investigación "/>
            <Docente foto = "/docentes/alejandro.webp" nombre = "Alejandro Muñoz L." cargo = "Médico" descripcion = "Especialista en Seguridad y Salud en el Trabajo"/>
            <Docente foto = "/docentes/elenita.webp" nombre = "Elenita Calderón" cargo = "Enfermero" descripcion = "Especialista en Pediatría. Sub especialista en Nutrición Infantil "/>
            <Docente foto = "/docentes/jose.webp" nombre = "José Palencia Pérez" cargo = "Médico" descripcion = "(C) Especialista en Gerencia de los Servicios de Salud Entrenado en Cuidado Crítico "/>
            <Docente foto = "/docentes/kenia.webp" nombre = "Kenia Valencia" cargo = "Fisioterapeuta" descripcion = "Especialista en Seguridad y Salud en el Trabajo "/>
        </li>
    </ul>
</div>