---
import Layout from '../layouts/Layout.astro';

const title = "Nosotros"

---

<Layout title={title}>
    <div class="flex flex-col justify-center items-center py-12">


        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-start">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Mision
                    </h2>
                    <p class = "text-gray-500">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi maxime laborum temporibus cumque dolor ex a corrupti harum. Maiores, nulla dignissimos. Commodi asperiores laboriosam ea quisquam est eveniet ullam temporibus ex mollitia maxime. Quo eaque corporis labore repellendus at animi doloremque delectus, adipisci explicabo sed sint esse? Nulla dignissimos laboriosam esse perferendis. Repudiandae, aliquam! Voluptatibus est beatae veniam nostrum reiciendis facilis sit, facere illum deleniti ducimus at voluptate praesentium impedit vitae reprehenderit dolore hic molestiae aut dolorem. Quos temporibus cumque facilis omnis accusantium id est incidunt sequi dolorem libero?
                    </p>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-end xl:order-2 ">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Vision
                    </h2>
                    <p class = "text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nobis ullam excepturi, ipsum sit repudiandae animi culpa hic voluptas libero quidem, sint id earum assumenda porro nam itaque architecto harum exercitationem minima deserunt iusto? Rerum provident nesciunt ad minus dolorum voluptatum omnis repellendus quia placeat alias sequi perferendis obcaecati quos iure porro natus sapiente consectetur iusto ratione facere eveniet earum pariatur, reiciendis laborum! Delectus, voluptas nihil quaerat beatae pariatur atque. Explicabo aspernatur quod quasi, hic libero labore, molestiae praesentium ea similique facere odit temporibus adipisci totam dolore rerum voluptas maxime.
                    </p>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-start">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Valores corporativos
                    </h2>

                    <ul
                        class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400 grid gap-2">
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Solidaridad
                        </li>
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Excelencia
                        </li>
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Libertad
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Tolerancia
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Responsabilidad
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Idoneidad
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-end xl:order-2">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Principios
                    </h2>

                    <ul
                        class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400 grid gap-2">
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Conocimientos
                        </li>
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Metodología
                        </li>
                        <li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Razón
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Pro-actividad
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Desafío
                        </li>
						<li class="flex items-center">
                            <svg
                                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                                ></path>
                            </svg>
                            Humanismo
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-start">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Modelo Pedagocico
                    </h2>
                    <p class = "text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates neque exercitationem, error facere maxime ipsam voluptas eos. Sed repudiandae laborum iste sit, dolorum architecto iure cumque in rerum labore quam non? Omnis, voluptates eveniet corporis porro, quo consectetur mollitia, ipsum accusantium id distinctio at ratione molestiae praesentium excepturi. Magni nostrum animi delectus vel laboriosam voluptas ratione provident quis earum, accusamus quos mollitia? Quo nihil aut numquam blanditiis molestias quis maiores corrupti. Dolorem doloremque reiciendis adipisci provident at voluptas omnis, eaque ipsam dolore, quis deleniti animi iste quasi vitae tenetur sapiente!
                    </p>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center xl:justify-end xl:order-2">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>

                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Objetivos de calidad
                    </h2>

                    <ul
                        class="max-w-md space-y-1 text-gray-500 list-inside list-disc dark:text-gray-400 grid gap-2">
                        <li class="">
                            Identificar las necesidades potenciales de la sociedad  para la atención con calidad desde la disciplina del aprendiente. 
                        </li>
                        <li class="">
                            Clasificar los ámbitos laborales, teniendo en cuenta  las necesidades identificadas por medio de nuestro plan educativo. 
                        </li>
                        <li class="">
                            Adaptar nuestro modelo pedagógico al aprendizaje con técnicas idóneas para nuestro aprendiente.
                        </li>
						<li class="">
                            Emplear herramientas y técnicas, que  de tal manera  se logren los objetivos de nuestra escuela.
                        </li>
						<li class="">
                            Justificar con razón científica, desde el modelo pedagógico adaptado a la disciplina profesional todo proceso de educación continua. 
                        </li>
						<li class="">
                            Razonar junto con el participante, sobre las estrategias y planes de mejora para un rendimiento y desempeño adecuado del profesional.  
                        </li>
                    </ul>
                </div>
            </div>
        </div>

		<div class="">
            <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                <figure class="grid justify-center">
                    <img
                        class="rounded-lg w-[500px] h-[400px]"
                        src="/nosotros/personas1.png"
                        alt=""
                    />
                </figure>
                <div class="border rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                    <h2
                        class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                        Politicas de calidad
                    </h2>

                    <p class = "text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi, aspernatur deleniti similique debitis, alias officiis id voluptate facilis temporibus ratione accusamus in repellendus numquam corrupti veritatis eum quo hic sapiente! Placeat, voluptate alias dolore exercitationem molestias, tempore voluptatum perspiciatis veritatis laboriosam repellendus et fugit, eligendi aperiam. Deserunt qui laudantium vel, ducimus magni facere corporis, quis nam dolor, a magnam. Laudantium doloribus quidem cupiditate sapiente ipsam consectetur itaque soluta sed inventore explicabo? Adipisci fugiat eaque quam eum pariatur non, accusamus minima est nemo assumenda sint excepturi eius numquam maxime temporibus.
                    </p>

                    <ul
                        class="max-w-md mt-5 space-y-1 text-gray-500 list-inside list-disc dark:text-gray-400 grid gap-2">
                        <li class="">
							Metodología
                        </li>
                        <li class="">
							Innovación 
                        </li>
                        <li class="">
							Investigación
                        </li>
						<li class="">
                            Teoría 
                        </li>
						<li class="">
							Práctica  
                        </li>
						<li class="">
							Virtualidad 
                        </li>
                    </ul>
                </div>
            </div>
        </div>






    </div>
</Layout>
