---
import Layout from '../layouts/Layout.astro';
import Curso from '../components/servicios-componentes/Curso.astro';

const title = "Servicios"

---

<Layout title={title}>
	<div class="flex flex-col mx-5 mt-12 gap-y-12 sm:mx-56">
		<div class="grid gap-y-5">
			<h2 class="text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl text-center">Convenio <span class="text-orange-500">INSTITUCION</span>:</h2>
			<div class="flex flex-wrap gap-5 sm:justify-center">
				<Curso titulo = "Auxiliar en Enfermeria" descripcion = ""/>
				<Curso titulo = "Auxiliar en Servicios Farmacéuticos" descripcion = ""/>
			</div>

		</div>

		<div class="grid gap-y-5 mb-12">
			<h2 class="text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl text-center">Nuestros cursos:</h2>
			<div class="flex flex-wrap gap-5 justify-center">
				<Curso titulo = "TOMA DE MUESTRAS DE LABORATORIOS" descripcion = "El presente curso busca actualizar al personal auxiliar y profesional de salud, en el procedimiento de toma de muestras de laboratorio, partiendo de la normativa vigente y teniendo en cuenta los aspectos relacionados con la bioseguridad, asepsia y antisepsia, preparación de la piel, almacenamiento, transporte de muestras, precauciones y cuidados generales del procedimiento."/>

				<Curso titulo = "REANIMACIÓN BÁSICA Y AVANZADA" descripcion = "Las maniobras de reanimación cardiopulmonar iniciadas de inmediato junto con la desfibrilación precoz constituyen la herramienta fundamental contra esta patología. Este programa es eminentemente práctico y refuerza las habilidades del Soporte Vital Básico del mantenimiento del CABD de la vida."/>

				<Curso titulo = "VIOLENCIA SEXUAL Y DE GÉNERO" descripcion = "La violencia de género constituye una grave violación a los derechos humanos; al mismo tiempo, se trata de un problema de salud y protección que pone en riesgo la vida. Se estima que una de cada tres mujeres sufrirá violencia física o sexual en el transcurso de su vida."/>

				<Curso titulo = "ATENCIÓN INTEGRAL A VÍCTIMAS DE ATAQUE CON AGENTES QUÍMICOS" descripcion = "Este curso es desarrollado para el personal de salud con una herramienta metodológica y conceptual, con los criterios básicos e indispensables para el abordaje integral de las víctimas de ataques con agentes químicos, que garanticen la adecuada atención oportuna y pertinente con racionalidad científica."/>
			</div>
		</div>

	</div>
</Layout>
