

<div class="grid gap-5 sm:grid-cols-2 xl:grid-cols-3 xl:gap-5 xl:px-50 justify-center items-center content-center m-12 max-w-7xl mx-auto">
    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

    <div class="">
        <img class="sm:h-full sm:w-96 object-contain rounded-lg transition duration-300 ease-in-out hover:scale-110" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="">
    </div>

</div>
