<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm">
            <h2 class="mb-4 text-5xl tracking-tight font-bold text-gray-900 dark:text-white">Testimonios</h2>
            <p class="text-gray-600 leading-relaxed font-light text-2xl mx-auto pb-2">Esto dicen acerca de nosotros:</p>
        </div> 
        <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
            <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <p class="my-4 text-xl italic">"Mi maestro Carlos Guevara, una persona admirable, responsable, emprendedora; quien tiene muchas capacidades para ensenar con excelentes tecnicas de aprendizaje sobre la enfermeria y sus diferentes cursos, talleres y diplomados."</p>
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Persona 1</div>
                    </div>
                </figcaption>    
            </figure>
            <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <p class="my-4 text-xl italic">"Excelente entidad, grandes companeros de trabajo, muy buen ambiente academico, simepre estan con la mejor disposicion nuestros estudiantes.</p>
                    <p class="my-4 text-xl italic"> Gracias por apoyarnos!"</p>
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Persona 2</div>
            
                    </div>
                </figcaption>    
            </figure>
            <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <p class="my-4 text-xl italic">"Excelente entidad prestadora de servicios academicos con sentido humanizado. Personal altamente calificado y direccionado por Carlos Guevara, gran lider y ejemplo de motivacion y superacion.</p>

                    <p class="my-4 text-xl italic">Grata experiencia de hacer parte de esta familia.! "</p>
        
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Persona 3</div>
            
                    </div>
                </figcaption>    
            </figure>

            <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <p class="my-4 text-xl italic">"Excelente entidad prestadora de servicios academicos con sentido humanizado. Personal altamente calificado y direccionado por Carlos Guevara, gran lider y ejemplo de motivacion y superacion.</p>

                    <p class="my-4 text-xl italic">Grata experiencia de hacer parte de esta familia.! "</p>
        
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Persona 4</div>
            
                    </div>
                </figcaption>    
            </figure>
            
        </div>

  </section>